.home-page {
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .home-page .main-logo {
    margin-bottom: -80px; }
    .home-page .main-logo img {
      max-width: 280px; }
  .home-page .mobile-bottom {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 1; }
  .home-page .image-wrapper {
    margin-bottom: 0px; }
  .home-page .snow-layer {
    position: absolute;
    bottom: -1px;
    z-index: 3;
    overflow: hidden;
    left: 2px; }
    .home-page .snow-layer img {
      max-width: 100vw;
      min-height: 32px; }

footer .footer-content {
  background-color: #ea8a9c;
  text-align: center; }
  footer .footer-content img {
    padding: 20px 0px;
    max-width: 40%; }

@media only screen and (min-width: 600px) {
  .home-page .main-logo {
    margin-bottom: -80px; }
    .home-page .main-logo img {
      max-width: 344px; } }

@media only screen and (min-width: 768px) {
  .home-page .main-logo {
    margin-bottom: -80px; }
    .home-page .main-logo img {
      max-width: 450px; }
  footer .footer-content img {
    max-width: 100%; } }

@media only screen and (min-width: 1200px) {
  .home-page .main-logo img {
    max-width: 550px; } }

.product-page {
  background-image: url("../img/main/bg-product-page.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100%;
  widows: 100vw; }
  .product-page .product-page-container {
    background-color: #fff; }
  .product-page .back-div {
    margin-top: 36px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px; }
    .product-page .back-div h4 {
      font-weight: 600;
      font-size: .9rem;
      margin-bottom: 0px; }
    .product-page .back-div a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #000; }
  .product-page .heading-text {
    margin-top: -20px;
    margin-bottom: 40px; }
    .product-page .heading-text h4 {
      font-size: 1.3rem;
      font-weight: 700; }
    .product-page .heading-text .purple {
      color: #ee41a9; }
    .product-page .heading-text a {
      border-bottom: 1px solid #ee41a9;
      text-decoration: none; }
  .product-page .product-wrapper {
    margin-bottom: 20px; }
    .product-page .product-wrapper .title {
      color: #ee41a9;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1;
      margin-top: 12px;
      padding: 0px 15px; }
    .product-page .product-wrapper .view-more a {
      text-decoration: none;
      font-weight: 700;
      color: #000; }
    .product-page .product-wrapper .add-to-basket p {
      display: inline-block;
      background-color: #000;
      color: #fff;
      font-size: .9rem;
      padding: 7px 12px;
      margin-top: 6px; }
  .product-page .modal-header {
    padding: 5px;
    position: relative;
    border-bottom: none; }
    .product-page .modal-header .close {
      position: absolute;
      left: -28px;
      top: -24px;
      opacity: 1;
      width: 42px;
      height: 42px;
      cursor: pointer; }
    .product-page .modal-header button.close:focus {
      outline: none; }
  .product-page .modal-dialog {
    min-width: 280px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border-radius: 0px;
    border: 10px solid #ee41a9; }
    .product-page .modal-dialog .modal-content {
      background-color: #ea8a9c;
      border: none;
      border-radius: 0px; }
    .product-page .modal-dialog .modal-body {
      padding: 15px 18px; }
      .product-page .modal-dialog .modal-body h2 {
        color: #fff;
        font-size: 1.9rem;
        font-weight: 600; }
      .product-page .modal-dialog .modal-body p {
        font-weight: 600; }
      .product-page .modal-dialog .modal-body span {
        font-weight: 600;
        font-size: 1rem; }

@media only screen and (min-width: 578px) {
  .product-page .heading-text {
    margin-top: -50px;
    margin-bottom: 40px; }
    .product-page .heading-text h4 {
      font-size: 1.3rem; } }

@media only screen and (min-width: 768px) {
  .product-page .product-wrapper {
    margin-bottom: 20px; }
    .product-page .product-wrapper .title {
      padding: 0px 18px; }
    .product-page .product-wrapper .add-to-basket p {
      font-size: .9rem;
      padding: 7px 12px;
      margin-top: 6px; }
  .product-page .back-div {
    margin-top: 36px;
    display: inline-block;
    margin-top: 36px;
    margin-left: 50px; }
    .product-page .back-div h4 {
      font-size: 1.4rem; }
  .product-page .modal-dialog .modal-body {
    padding: 15px 38px; } }

@media only screen and (min-width: 992px) {
  .product-page .main-logo {
    margin-top: -20px; } }

.festive-fun {
  background-image: url("../img/main/bg-festive-fun.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100%; }
  .festive-fun .header-festive-fun {
    background-color: #ea8a9c; }
  .festive-fun .main-form-group {
    background-color: #fff; }
    .festive-fun .main-form-group form {
      padding: 20px 30px; }
      .festive-fun .main-form-group form .form-group {
        align-items: center; }
      .festive-fun .main-form-group form label {
        font-size: .9rem;
        font-weight: 600; }
      .festive-fun .main-form-group form .cat-title {
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 0px; }
      .festive-fun .main-form-group form .cat-sub {
        margin-bottom: 0px; }
      .festive-fun .main-form-group form span {
        text-transform: uppercase; }
      .festive-fun .main-form-group form .text-inherit {
        text-transform: inherit; }
      .festive-fun .main-form-group form .button-submit {
        text-align: center;
        margin-bottom: 20px; }
      .festive-fun .main-form-group form .my-inputs {
        border: 1px solid #ee41a9;
        border-radius: 0px; }
      .festive-fun .main-form-group form select {
        width: 100%;
        border: 1px solid #ee41a9;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        font-size: .9rem; }
      .festive-fun .main-form-group form .custom-control-indicator {
        background-color: #ea8a9c;
        border-radius: 0px; }

@media only screen and (min-width: 578px) {
  .festive-fun .main-form-group form {
    padding: 30px 80px; }
    .festive-fun .main-form-group form label {
      font-size: .9rem;
      font-weight: 600; } }

@media only screen and (min-width: 1200px) {
  .festive-fun .main-form-group form {
    padding: 30px 120px; }
    .festive-fun .main-form-group form label {
      font-size: .9rem;
      font-weight: 600; } }

body {
  font-family: 'PT Sans Narrow', sans-serif; }

a:focus {
  outline: none; }
