.festive-fun{
  background-image: url('../img/main/bg-festive-fun.png');
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100%;
  .header-festive-fun{
    background-color: #ea8a9c;
  }
  .main-form-group{
    background-color: #fff;
    form{
      padding: 20px 30px;
      .form-group{
        align-items: center;
      }
      label{
        font-size: .9rem;
        font-weight: 600;
      }
      .cat-title{
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 0px;
      }
      .cat-sub{
        margin-bottom: 0px;
      }
      span{
        text-transform: uppercase;
      }
      .text-inherit{
        text-transform: inherit;
      }
      .button-submit{
        text-align: center;
        margin-bottom: 20px;
      }
      .my-inputs{
        border: 1px solid $brand-primary;
        border-radius: 0px;
      }
      select{
        width: 100%;
        border: 1px solid $brand-primary;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        font-size: .9rem;
      }
      .custom-control-indicator{
        background-color: $brand-secondary;
        border-radius: 0px;
      }
    }
  }
}

@media only screen and (min-width: 578px) {
  .festive-fun{
    .main-form-group{
      form{
        padding: 30px 80px;
        label{
          font-size: .9rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .festive-fun{
    .main-form-group{
      form{
        padding: 30px 120px;
        label{
          font-size: .9rem;
          font-weight: 600;
        }
      }
    } 
  }
}