.home-page{
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;  
  overflow: hidden;
  .main-logo{
    margin-bottom: -80px;
    img{
      max-width: 280px;
    }
  }
  .mobile-bottom{
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 1;
  }
  .image-wrapper{
    margin-bottom: 0px;
  }
  .snow-layer{
    position: absolute;
    bottom: -1px;
    z-index: 3;
    overflow: hidden;
    left: 2px;
    img{
      max-width: 100vw;
      min-height: 32px;
    }
  }
}

footer{
  .footer-content{
    background-color: #ea8a9c;
    text-align: center;
    img{
      padding: 20px 0px;
      max-width: 40%;
    }
  }
}
@media only screen and (min-width: 600px) {
  .home-page{ 
    .main-logo{
      margin-bottom: -80px;
      img{
        max-width: 344px;
      }
    }
  }
}




@media only screen and (min-width: 768px) {
  .home-page{ 
    .main-logo{
      margin-bottom: -80px;
      img{
        max-width: 450px;
      }
    }
  }

  footer{
    .footer-content{
      img{
        max-width: 100%;
      }
    }
  }
}


@media only screen and (min-width: 1200px) {
  .home-page{ 
    .main-logo{
      img{
        max-width: 550px;
      }
    }
  }
}