// ##############
// Product Page Heading - Footer - Bg
// ##############
.product-page{
  background-image: url('../img/main/bg-product-page.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100%;  
  widows: 100vw;
  .product-page-container{
    background-color: #fff;
  }
  .back-div{
    margin-top: 36px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    h4{
      font-weight: 600;
      font-size: .9rem;
      margin-bottom: 0px;
    }
    a{
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #000;
    }
  }
  .heading-text{
    margin-top: -20px;
    margin-bottom: 40px;
    h4{
      font-size: 1.3rem;
      font-weight: 700;
    }
    .purple{
      color: $brand-primary;
    }
    a{
      border-bottom: 1px solid $brand-primary;
      text-decoration: none;
    }
  }

  // ##############
  // Products
  // ##############
  .product-wrapper{
    margin-bottom: 20px;
    .title{
      color: $brand-primary;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1;
      margin-top: 12px;
      padding: 0px 15px;
    }
    .view-more{
      a{
        text-decoration: none;
        font-weight: 700;
        color: #000;
      }
    }
    .add-to-basket{
      p{
        display: inline-block;
        background-color: #000;
        color: #fff;
        font-size: .9rem;
        padding: 7px 12px;
        margin-top: 6px;
      }
    }
  }


  // ##############
  // Modal Start
  // ##############
  .modal-header {
    padding: 5px;
    position: relative;
    border-bottom: none;
    .close{
      position: absolute;
      left: -28px;
      top: -24px;
      opacity: 1;
      width: 42px;
      height: 42px;
      cursor: pointer;
    }
    button.close:focus{
      outline: none;
    }
  }
  .modal-dialog{
    min-width: 280px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border-radius: 0px;
    border: 10px solid $brand-primary;
    .modal-content{
      background-color: $brand-secondary;
      border: none;
      border-radius: 0px;
    }
    .modal-body{
      padding: 15px 18px;
      h2{
        color: #fff;
        font-size: 1.9rem;
        font-weight: 600;
      }
      p{
        font-weight: 600;
      }
      span{
        font-weight: 600;  
        font-size: 1rem;      
      }
    }
  }
}

@media only screen and (min-width: 578px) {
// ##############
// Product Page Heading - Footer - Bg
// ##############
.product-page{
  .heading-text{
    margin-top: -50px;
    margin-bottom: 40px;
    h4{
      font-size: 1.3rem;
    }
  }
}
}

@media only screen and (min-width: 768px) {
// ##############
// Product Page Heading - Footer - Bg
// ##############
.product-page{
  .product-wrapper{
    margin-bottom: 20px;
    .title{
      padding: 0px 18px;
    }
    .add-to-basket{
      p{
        font-size: .9rem;
        padding: 7px 12px;
        margin-top: 6px;
      }
    }
  }
  .back-div{
    margin-top: 36px;
    display: inline-block;
    margin-top: 36px;
    margin-left: 50px;
    h4{
      font-size: 1.4rem;
    }
  }
  // ##############
  // Modal Start
  // ##############
  .modal-dialog{
    .modal-body{
      padding: 15px 38px;
    }
  }
}
}

@media only screen and (min-width: 992px) {
.product-page{
  .main-logo{
    margin-top: -20px;
  }
}
}