$brand-primary: #ee41a9;
$brand-secondary: #ea8a9c;

// Main Sass File
@import "home-page";
@import "products-page";
@import "festive-fun";

body{
  font-family: 'PT Sans Narrow', sans-serif;
}
a:focus{
  outline: none;
}


